*{
    margin: 0;
    padding: 0;

}
.div_1{
    padding: 20px;
    background-color: rgb(134, 230, 44);
    text-align: center;
}.div_2{
    margin-top: 10px;
    padding: 20px;
    background-color: rgb(106, 59, 216);
    text-align: center;
}
.div_3{
    margin-top: 10px;
    width: 25%;
    float: left;
}
.div_4{
    margin-top: 10px;
    width: 50%;
    float: left;
}
.img_1{
    
    width: 100%;
}
.img_2{
    
    width: 100%;
}
.img_3{
    
    width: 100%;
}
.div_5{
   margin-top: 10px;
    width: 25%;
    float: left;
    
}

.div_7{
    
    padding: 20px 0 0 0;
    text-align: center;
    font-family: monospace;
    font-size: 15px;
    font-weight: 700;
    float: left;
    width: 50%;
  
}
.div_8{
  
    padding: 20px 0 0 0;
    text-align: center;
    font-family: monospace;
    font-size: 15px;
    font-weight: 700;
    float: left;
    width: 50%;
  
}
.div_6{
    padding: 10px;
    margin-top: 600px;
    color: blanchedalmond;
    background-color:black;
    text-align: center;
   
}